@use "variable" as *;
@use "svg" as *;
.containerBlogDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 5em;
    .blockHead {
        background-color: #e3e4eb;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25rem;
        padding-bottom: 15rem;
        @include sp {
            padding-top: 30vw;
            padding-bottom: 26vw;
            padding-inline: 4vw;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -15rem;
            background: url("../../assets/images/slide-object.webp") no-repeat
                center center / contain;
            aspect-ratio: 466/559;
            width: 40rem;
            @include sp {
                width: 60vw;
                right: -20vw;
            }
        }
        h2 {
            font-size: FZ(36);
            font-weight: 700;
            letter-spacing: 0.24em;
            @include sp {
                z-index: 1;
                font-size: FZ(28);
                text-align: center;
            }
        }
        .h2Sidebar {
            position: relative;
            display: flex;
            align-items: center;
            font-size: inherit;
            margin-top: 2em;
            @include sp {
                z-index: 1;
            }
            .itemLink {
                @include NotoSansJP;
                font-size: FZ(17);
                font-weight: 700;
                letter-spacing: 0.12em;
                text-decoration: underline;
                @include sp {
                    font-size: FZ(14);
                }
                &::after {
                    content: "|";
                }
            }
            span {
                font-size: FZ(17);
                font-weight: 700;
                letter-spacing: 0.08em;
                @include sp {
                    font-size: FZ(14);
                }
            }
        }
    }
    .blockDetails {
        display: flex;
        flex-direction: column;
        padding: 2em 0;
        max-width: $articleMaxWidth;
        @include sp {
            max-width: unset;
            padding: 6vw 4vw;
        }
        .itemImage {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .wrapHead {
            margin-top: 2em;
            display: flex;
            gap: 0 1em;
            font-size: inherit;
            align-items: center;
            .itemDate {
                @include NotoSansJP;
                font-size: FZ(14);
                font-weight: 700;
            }
            .itemHead {
                @include NotoSansJP;
                letter-spacing: 0.2em;
                font-size: FZ(12);
                border: 1px solid;
                border-radius: 0.3rem;
                text-transform: uppercase;
                padding: 0.3em 0.5em;
                font-weight: 700;
            }
        }
        hr {
            font-size: inherit;
            border-top: solid 1px rgb(35 35 35 / 50%);
            margin-top: 2em;
            margin-bottom: 2em;
        }
        .itemContent {
            display: flex;
            flex-direction: column;
            font-size: inherit;
            margin-top: 2em;
            margin-bottom: 5em;
            :global(.interviewImage) {
                position: relative;
                display: flex;
                align-self: center;
                max-width: 60rem;
            }
            h3 {
                font-size: FZ(17);
                margin-bottom: 2em;
            }
            p {
                font-size: FZ(13);
                line-height: 1.8em;
                letter-spacing: 0.08em;
                text-align: justify;
            }
            dl {
                position: relative;
                display: flex;
                flex-direction: column;
                font-size: inherit;
                gap: 3em 0;
                margin-top: 2em;
                div {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    gap: 2em 0;
                    dt {
                        font-size: FZ(17);
                        letter-spacing: 0.2em;
                    }
                    dd {
                        font-size: FZ(13);
                        line-height: 1.8em;
                        letter-spacing: 0.08em;
                        text-align: justify;
                    }
                }
            }
        }
        .itemCategory {
            align-self: flex-end;
            font-size: FZ(13);
            border: 1px solid;
            border-radius: 0.3rem;
            padding: 0.3em 1em;
            letter-spacing: 0.12em;
        }
        .navPageLink {
            position: relative;
            font-size: inherit;
            display: flex;
            justify-content: space-between;
            @include sp {
                flex-direction: column;
                align-items: center;
                gap: 2vw 0;
            }
            .itemLink {
                font-size: FZ(13);
                color: #0842af;
                letter-spacing: 0.04em;
            }
        }
    }
}
