@use "variable" as *;
@use "svg" as *;
.containerBlogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    .blockHead {
        background-color: #e3e4eb;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25rem;
        padding-bottom: 15rem;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -15rem;
            background: url("../assets/images/slide-object.webp") no-repeat center
                center / contain;
            aspect-ratio: 466/559;
            width: 40rem;
        }
        h2 {
            font-size: FZ(36);
            letter-spacing: 0.24em;
            text-transform: uppercase;
        }
        .h2Sidebar {
            position: relative;
            display: flex;
            align-items: center;
            font-size: inherit;
            margin-top: 2em;
            .itemLink {
                @include NotoSansJP;
                font-size: FZ(17);
                font-weight: 700;
                letter-spacing: 0.12em;
                text-decoration: underline;
                &::after {
                    content: "|";
                }
            }
            span {
                @include NotoSansJP;
                font-size: FZ(17);
                font-weight: 700;
            }
        }
    }
    .blockDetails {
        display: flex;
        flex-direction: column;
        padding: 2em 0;
        max-width: $articleMaxWidth;
        :global(.blog-item) {
            background-color: #fff;
        }
    }
}
