@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
// このファイル全体のルールを無効にする
/* =================================
** 熊日デジタル スライド
------------------------------ */

.containerSlide {
    position: relative;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    @include sp {
        height: 120vw;
    }

    article {
        height: 100%;
        padding: 3em;
        display: flex;
        justify-content: flex-end;
        color: #fff;
        flex-direction: column;
        @include sp {
            padding: 20vw 4vw;
        }
        h2 {
            font-size: FZ(36);
            font-weight: 700;
            letter-spacing: 0.2em;
            line-height: 2em;
            @include sp {
                font-size: FZ(20);
            }
        }
        p {
            font-size: FZ(20);
            font-weight: 700;
            letter-spacing: 0.12em;
            margin-top: 1em;
            @include sp {
                font-size: FZ(16);
            }
        }
    }
}

.slideImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 1.5s ease-in-out;
    z-index: 1;
    opacity: 1;
    &.Image01Active {
        opacity: 1;
        z-index: 2;
        background-position: center bottom;
        animation: Image01 8s ease-out forwards;
    }

    &.Image02Active {
        opacity: 1;
        z-index: 2;
        background-position: center top;
        animation: Image02 8s ease-out forwards;
    }

    &.ImageInactive {
        z-index: 1;
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
    }
}

@keyframes Image01 {
    0% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}

@keyframes Image02 {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}
